In [164]:
import requests
import json
import pandas as pd
import time

In [165]:
# pip install xmltodict

In [166]:
import xmltodict

In [167]:
data_df = pd.DataFrame()

In [168]:
url = 'http://safemap.go.kr/openApiService/data/getFrfireSttusData.do'

In [169]:
for i in range(1, 8) : 
    params ={'serviceKey' : '개인 api키 사용', 
             'pageNo' : i, 
             'numOfRows' : '1000'}

    response = requests.get(url, params=params)
    data = response.content.decode('utf-8')
    temp_dict = xmltodict.parse(data)
    temp_df = pd.DataFrame(temp_dict['response']['body']['items']['item'])
    data_df = pd.concat([data_df, temp_df])
    time.sleep(1)

In [171]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6397 entries, 0 to 396
Data columns (total 21 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   OBJT_ID    6397 non-null   object
 1   OCCU_YEAR  6397 non-null   object
 2   OCCU_MT    6397 non-null   object
 3   OCCU_DE    6397 non-null   object
 4   OCCU_TM    6397 non-null   object
 5   OCCU_DAY   6397 non-null   object
 6   OCCU_DATE  6397 non-null   object
 7   END_YEAR   6397 non-null   object
 8   END_MT     6397 non-null   object
 9   END_DE     6397 non-null   object
 10  END_TM     6397 non-null   object
 11  ADRES      6397 non-null   object
 12  RN_ADRES   6397 non-null   object
 13  RESN       6397 non-null   object
 14  AR         6397 non-null   object
 15  AMOUNT     6397 non-null   object
 16  CTPRVN_CD  6397 non-null   object
 17  SGG_CD     6397 non-null   object
 18  EMD_CD     6397 non-null   object
 19  X          6397 non-null   object
 20  Y          6397 non-null   object
dtypes: object(21)
memory usage: 1.1+ MB

In [172]:
data_df = data_df.reset_index(drop=True)

In [173]:
data_df.columns = ['일련번호', '발생년도', '발생월', '발생일', '발생시간', '발생요일',\
                   '발생년월일', '종료년도', '종료월', '종료일', '종료시간', '지번주소',\
                   '도로명주소', '사유', '피해면적', '피해금액', '시도코드', '시군구코드',\
                   '읍면동코드', 'X좌표', 'Y좌표']

In [ ]:
# data_df.to_csv('산불위치rawdata.csv', index=False, encoding='cp949')

In [174]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6397 entries, 0 to 6396
Data columns (total 21 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일련번호    6397 non-null   object
 1   발생년도    6397 non-null   object
 2   발생월     6397 non-null   object
 3   발생일     6397 non-null   object
 4   발생시간    6397 non-null   object
 5   발생요일    6397 non-null   object
 6   발생년월일   6397 non-null   object
 7   종료년도    6397 non-null   object
 8   종료월     6397 non-null   object
 9   종료일     6397 non-null   object
 10  종료시간    6397 non-null   object
 11  지번주소    6397 non-null   object
 12  도로명주소   6397 non-null   object
 13  사유      6397 non-null   object
 14  피해면적    6397 non-null   object
 15  피해금액    6397 non-null   object
 16  시도코드    6397 non-null   object
 17  시군구코드   6397 non-null   object
 18  읍면동코드   6397 non-null   object
 19  X좌표     6397 non-null   object
 20  Y좌표     6397 non-null   object
dtypes: object(21)
memory usage: 1.0+ MB

In [175]:
data_df.isna().sum()

일련번호     0
발생년도     0
발생월      0
발생일      0
발생시간     0
발생요일     0
발생년월일    0
종료년도     0
종료월      0
종료일      0
종료시간     0
지번주소     0
도로명주소    0
사유       0
피해면적     0
피해금액     0
시도코드     0
시군구코드    0
읍면동코드    0
X좌표      0
Y좌표      0
dtype: int64

In [176]:
from pyproj import Transformer

# EPSG:3857 -> EPSG:4326 (위도, 경도)로 변환
transformer = Transformer.from_crs("EPSG:3857", "EPSG:4326")

lat_list = []
lon_list = []

for x, y in zip(data_df['X좌표'], data_df['Y좌표']) :
    lat, lon = transformer.transform(x, y)
    lat_list.append(lat)
    lon_list.append(lon)

In [177]:
data_df['위도'] = lat_list
data_df['경도'] = lon_list

In [178]:
data_df[['지번주소', 'X좌표', 'Y좌표', '위도', '경도']].head()

                      지번주소          X좌표          Y좌표         위도          경도
0  경상남도 함안군 칠북면 봉촌리 산270-1  14309755.68  4213756.081  35.366184  128.546722
1   경상남도 거제시 일운면 소동리 산32-2  14327001.75  4142330.165  34.841262  128.701646
2   경상남도 거제시 일운면 소동리 산75-6  14324658.43  4141242.186  34.833240  128.680596
3     경상남도 산청군 단성면 입석리 산20  14239111.63   4204701.45  35.299827  127.912116
4    경상남도 산청군 생비량면 도리 산164  14254878.82  4208490.867  35.327604  128.053755

In [179]:
data_df = data_df.drop(columns=['일련번호', '발생년월일', '시도코드', '시군구코드', '읍면동코드',\
                                'X좌표', 'Y좌표', '도로명주소'])

In [180]:
data_df.head()

,발생년도,발생월,발생일,발생시간,발생요일,종료년도,종료월,종료일,종료시간,지번주소,사유,피해면적,피해금액,위도,경도
0,2011,01,01,1340,토요일,2011,01,01,1630,경상남도 함안군 칠북면 봉촌리 산270-1,입산자실화,1,52000,35.366184,128.546722
1,2011,01,01,1437,토요일,2011,01,01,1525,경상남도 거제시 일운면 소동리 산32-2,입산자실화,0.05,4096,34.841262,128.701646
2,2011,01,01,1607,토요일,2011,01,01,1620,경상남도 거제시 일운면 소동리 산75-6,입산자실화,0.02,2291,34.833240,128.680596
3,2011,01,08,1227,토요일,2011,01,08,1255,경상남도 산청군 단성면 입석리 산20,쓰레기소각,0.01,3730,35.299827,127.912116
4,2011,01,10,2130,월요일,2011,01,11,0130,경상남도 산청군 생비량면 도리 산164,입산자실화,0.1,4740,35.327604,128.053755

In [181]:
def trans_date(years, months, days, hours) :
    date_list = []
    for y, m, d, h in zip(years, months, days, hours) : 
        format = y + '-' + m + '-' + d + ' ' + h[:2] + ':' + h[2:]
        date_list.append(pd.to_datetime(format))
    return date_list

In [182]:
data_df['발생시각'] = trans_date(data_df['발생년도'], data_df['발생월'],data_df['발생일'],data_df['발생시간'])

In [183]:
# data_df['종료시각'] = trans_date(data_df['종료년도'], data_df['종료월'],data_df['종료일'],data_df['종료시간'])
# DateParseError: day is out of range for month: 2014-02-00 46:00, at position 0 에러발생

DateParseError: day is out of range for month: 2014-02-00 46:00, at position 0

In [185]:
data_df['종료일'].value_counts()

종료일
09    261
06    246
23    242
04    236
02    231
26    231
05    227
10    227
28    226
03    223
27    221
11    221
24    219
19    218
22    217
12    211
16    209
01    208
25    205
08    197
21    194
17    193
15    191
13    187
07    182
18    174
29    170
14    170
30    168
20    167
31    123
00      2
Name: count, dtype: int64

In [187]:
data_df[data_df['종료일']=='00']

,발생년도,발생월,발생일,발생시간,발생요일,종료년도,종료월,종료일,종료시간,지번주소,사유,피해면적,피해금액,위도,경도,발생시각
768,2014,02,04,0243,화요일,2014,02,00,4600,울산광역시 울주군 언양읍 대곡리 861-4,조사중,0.7,13485,35.609134,129.176236,2014-02-04 02:43:00
1089,2014,05,06,2143,화요일,2014,05,00,7200,인천광역시 부평구 부개동 산7-1,입산자실화 추정,0.1,0,37.480407,126.730434,2014-05-06 21:43:00

In [191]:
data_df[data_df['종료시간'].astype('int')>=2400]

,발생년도,발생월,발생일,발생시간,발생요일,종료년도,종료월,종료일,종료시간,지번주소,사유,피해면적,피해금액,위도,경도,발생시각
768,2014,02,04,0243,화요일,2014,02,00,4600,울산광역시 울주군 언양읍 대곡리 861-4,조사중,0.7,13485,35.609134,129.176236,2014-02-04 02:43:00
1089,2014,05,06,2143,화요일,2014,05,00,7200,인천광역시 부평구 부개동 산7-1,입산자실화 추정,0.1,0,37.480407,126.730434,2014-05-06 21:43:00

In [197]:
# 이상치 data drop
data_df = data_df.drop([768, 1089])
data_df = data_df.reset_index(drop=True)

In [198]:
data_df['종료시각'] = trans_date(data_df['종료년도'], data_df['종료월'],data_df['종료일'],data_df['종료시간'])

In [210]:
import math

data_df['진화시간'] = data_df['종료시각']-data_df['발생시각']
data_df['진화시간'] = data_df['진화시간'].apply(lambda x : math.ceil(x.total_seconds() / 3600))

In [211]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6395 entries, 0 to 6394
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   발생년도    6395 non-null   object
 1   발생월     6395 non-null   object
 2   발생일     6395 non-null   object
 3   발생시간    6395 non-null   object
 4   발생요일    6395 non-null   object
 5   종료년도    6395 non-null   object
 6   종료월     6395 non-null   object
 7   종료일     6395 non-null   object
 8   종료시간    6395 non-null   object
 9   지번주소    6395 non-null   object
 10  사유      6395 non-null   object
 11  피해면적    6395 non-null   object
 12  피해금액    6395 non-null   object
 13  위도      6395 non-null   float64
 14  경도      6395 non-null   float64
 15  발생시각    6395 non-null   datetime64[ns]
 16  종료시각    6395 non-null   datetime64[ns]
 17  진화시간    6395 non-null   int64
dtypes: datetime64[ns](2), float64(2), int64(1), object(13)
memory usage: 899.4+ KB

In [213]:
data_df = data_df.drop(columns=['발생년도', '발생월', '발생일', '발생시간', '발생요일',\
                                '종료년도', '종료월', '종료일', '종료시간', '종료시각'])

In [214]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6395 entries, 0 to 6394
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지번주소    6395 non-null   object
 1   사유      6395 non-null   object
 2   피해면적    6395 non-null   object
 3   피해금액    6395 non-null   object
 4   위도      6395 non-null   float64
 5   경도      6395 non-null   float64
 6   발생시각    6395 non-null   datetime64[ns]
 7   진화시간    6395 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 399.8+ KB

In [218]:
data_df['피해면적'] = data_df['피해면적'].astype('float')

In [220]:
data_df['피해금액'] = data_df['피해금액'].astype('float')

In [228]:
pd.set_option('display.max_rows', None)

In [ ]:
data_df['사유'].value_counts()

In [248]:
data_df['사유'] = \
    data_df['사유'].apply(lambda x : '담뱃불 실화' if ( ('담배' in x) | ('담뱃' in x) ) )

In [249]:
# data_df[data_df['사유'].str.contains('담배|담뱃', regex=True]['사유'].value_counts()

사유
담뱃불 실화    470
Name: count, dtype: int64

In [ ]:
# data_df[data_df['사유'].str.contains('소각|폐기|두렁|쓰레기', regex=True)]['사유'].value_counts()

In [303]:
data_df['사유'] = \
    data_df['사유'].apply(lambda x : '논밭/쓰레기 소각' if ( ('소각' in x) | ('폐기' in x) | ('두렁' in x) |\
                                                  ('쓰레기' in x) ) else x)

In [ ]:
# data_df[data_df['사유'].str.contains('화재|주택|건축|시설|공사')]['사유'].value_counts()

In [301]:
data_df['사유'] = \
    data_df['사유'].apply(lambda x : '건축/시설물 화재' if ( ('화재' in x) | ('주택' in x) | ('건축' in x) |\
                                                ('시설' in x) | ('공사' in x)) )

In [ ]:
# data_df[data_df['사유'].str.contains('재.*[투기|처리|취급]|불씨|화목|보일러|용접|연탄|아궁이|숯',\
# regex=True)]['사유'].value_counts()

In [308]:
data_df['사유'] = \
    data_df['사유'].apply(lambda x : '재/불씨/용접 등' \
                        if ( ('재' in x) & ( ('투기' in x) | ('처리' in x) | ('취급' in x) ) |\
                            ('불씨' in x) | ('화목' in x) | ('보일러' in x) | ('용접' in x) | \
                           ('연탄' in x) | ('아궁이' in x) | ('숯' in x)) else x)

In [ ]:
# data_df[data_df['사유'].str.contains('전기|전선|누전|스파크', regex=True)]['사유'].value_counts()

In [273]:
data_df['사유'] = \
    data_df['사유'].apply(lambda x : '누전/스파크' \
                        if ( ('전기' in x) | ('전선' in x) | ('누전' in x) | ('스파크' in x) ) else x)

In [282]:
data_df['사유'] = data_df['사유'].apply(lambda x : '낙뢰' if ('낙뢰' in x) else x)

In [283]:
data_df['사유'] = data_df['사유'].apply(lambda x : '불장난' if ('장난' in x) else x)

In [289]:
data_df['사유'] = data_df['사유'].apply(lambda x : '방화' if ('방화' in x) else x)

In [294]:
data_df['사유'] = data_df['사유'].apply(lambda x : '원인미상' if ( ('미상' in x) | ('조사' in x) ) else x)

In [ ]:
# data_df[data_df['사유'].str.contains('입산|등산|성묘|무속|채취|낚시|취사', regex=True)]['사유'].value_counts()

In [290]:
data_df['사유'] = \
    data_df['사유'].apply(lambda x : '입산자 기타 실화' \
                        if ( ('입산' in x) | ('등산' in x) | ('성묘' in x) | ('취사' in x) |\
                           ('무속' in x) | ('채취' in x) | ('낚시' in x)) else x)

In [291]:
data_df[data_df['사유'].str.contains('미상|조사', regex=True)]['사유'].value_counts()

사유
원인미상           612
조사중             92
미상              31
원인미상(조사중)       13
원인미상(입)          1
원인미상의 들불         1
신원미상             1
조명탄 발화(조사중)      1
Name: count, dtype: int64

In [ ]:
# data_df[data_df['사유'].str.contains('산업|사업|작업', regex=True)]['사유'].value_counts()

In [311]:
data_df['사유'] = data_df['사유'].apply(lambda x : '작업/산업현장' \
                                    if ( ('산업' in x) | ('사업' in x) | ('작업' in x) ) else x)

In [312]:
data_df['사유'].value_counts()

사유
입산자 기타 실화             2213
논밭/쓰레기 소각             1689
원인미상                   752
담뱃불 실화                 470
건축/시설물 화재              383
재/불씨/용접 등              307
기타(직접입력)               113
작업/산업현장                 92
누전/스파크                  88
방화                      76
낙뢰                      49
불장난                     26
풍등                       3
화기물 취급 부주의               2
기계톱과열                    2
분신자살 추정                  2
담대꽁초투기                   1
전신주도복에의한발화(추정)           1
군사훈현                     1
군사훈련전이                   1
군부대실화추정                  1
야영장모닥불                   1
변압기추락                    1
양수기과열                    1
군 발물처리                   1
노후화된불발탄                  1
밧데리폭발                    1
철제 고물 절단 중 불꽃비화          1
온수공급호스연결부주의              1
건출물실화(가구공장 전소)           1
농기계 수리중 폭발               1
군부대 조명탄(신호킷 추정)          1
캠핑객 실화                   1
굴삭기과열추정                  1
산나물 채쥐자 실화추정             1
산소 벌집제거 중 발화             1
예초기 조작 과실                1
묘지조성중 실화                 1
묘지주변 정리 중 발화             1
인근축사 발화 추정               1
묘지사초                     1
농막에서 발화 추정               1
난로재 실화                   1
향불발화                     1
산불비화추정                   1
열선축열 추정                  1
드론추락의베터리폭발               1
합선                       1
불발탄발화추정                  1
배터리발화                    1
발화탄발화추정                  1
예초기배터리폭발                 1
화기물취급부주의                 1
채석장장비과열                  1
태양광패널합선                  1
건설현장실화추정                 1
양봉장벌통소독중발화               1
조명지뢰불발                   1
캠핑장부탄가스폭발                1
화기물취급부주의추정               1
입사자실화추정                  1
군비행기추착비화                 1
자연발화                     1
도로변발화추정                  1
조류퇴치폭음탄                  1
모닥불비화                    1
화기사용주부의                  1
에초기불꽃                    1
전봇대발화                    1
연등(촛불)비화                 1
전주계량기                    1
푹죽실화                     1
전신주고압선피복손상불티             1
전투기추락                    1
수목정비인부실화                 1
군사격장 훈련에 따른 피탄           1
작엄장실화                    1
새 ?기위해 터트린 폭죽            1
절에서 향 피우다 실화             1
군부대훈련(조명탄에 의한 발화)        1
모닥불 실화                   1
약초꾼실화                    1
묘지향불실화                   1
군부대 진지보수                 1
재로인한 발화                  1
재발화(3.20.,산불발생지內)        1
모닥불실화                    1
정신지체자실화                  1
캠핑장이용객 실화                1
자살                       1
묘지발화추정                   1
군부대 실화추정(신호탄 발화)         1
재발화(3.8., 산불발생지內)        1
화기취급 부주의                 1
재발화(1.18., 산불발생지內)       1
재발화 산불                   1
예초기 과열 폭발                1
훈련중 부상자 구조신호             1
야간구조 조명불발탄(세월호)          1
비닐하우스 가스폭발               1
축사내 화기취급 부주의             1
묘지 벌초 중 실화               1
풍등에 의한 실화                1
노숙자실화 추정                 1
벌꿀소독                     1
등삭객실화                    1
굿당의 인등 낙하                1
군조명탄에의한실화                1
나무꾼실화                    1
모닥불부주의                   1
캠핑장이용객 실화추정              1
UDT훈련 중 교탄 사용            1
불발조명탄 자연발화 추정            1
조리 후 남은 재로 인한 실화         1
조림지내 벌집제거 중 실화           1
고추씨 발효로 자연발화 추정          1
예초기 과열추정                 1
석굴 거주지 실화추정              1
묘지정비 중 실화추정              1
축사 내 화기취급 실화             1
택시 엔진과열로 발화              1
농지에 불놓기 중 비화             1
화기취급 실화                  1
기타                       1
개사육장 화기취급 실화             1
수도관 동파방지 불취급 진화          1
석재공장 급수용 펌프모터 과열         1
폭죽낙하(소백산철쭉제)             1
양봉 훈연 중 실화               1
화덕재 비화                   1
인화물질 취급 부주의              1
농경지 태우기                  1
승용예취기 과열로 인한 발화          1
벌통훈연기 취급 부주의             1
3.7발생 산불의 재불             1
차량과열로 연소에 의한 산불발생        1
인화물질 관리소홀로 인한 실화         1
예초기 과열로 인한 실화            1
군사훈련(신호탄)                1
공장 발화 추정                 1
전투기(F-16)추락              1
선택                       1
화기물 취급 부주의(부탄가스)         1
매립장 열선 과열                1
Name: count, dtype: int64

In [313]:
r_list = ['입산자 기타 실화', '논밭/쓰레기 소각', '원인미상', '담뱃불 실화', '건축/시설물 화재',\
          '재/불씨/용접 등', '작업/산업현장', '누전/스파크', '방화', '낙뢰', '불장난']

In [314]:
data_df['사유'] = data_df['사유'].apply(lambda x : '기타' if (x not in r_list) else x)

In [315]:
data_df['사유'].value_counts()

사유
입산자 기타 실화    2213
논밭/쓰레기 소각    1689
원인미상          752
담뱃불 실화        470
건축/시설물 화재     383
재/불씨/용접 등     307
기타            250
작업/산업현장        92
누전/스파크         88
방화             76
낙뢰             49
불장난            26
Name: count, dtype: int64

In [317]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6395 entries, 0 to 6394
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지번주소    6395 non-null   object
 1   사유      6395 non-null   object
 2   피해면적    6395 non-null   float64
 3   피해금액    6395 non-null   float64
 4   위도      6395 non-null   float64
 5   경도      6395 non-null   float64
 6   발생시각    6395 non-null   datetime64[ns]
 7   진화시간    6395 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(1), object(2)
memory usage: 399.8+ KB

In [316]:
data_df.to_csv('산불발생위치.csv', index=False, encoding='cp949')